body {
  height: 100vH;
  width: 100vW;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr; }
  body .navbar {
    background: ghostwhite; }
  body .content {
    background: lightgray; }

.navbar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 300px;
  padding: 0 40px;
  justify-items: center; }
  .navbar ul {
    grid-column: 2/3;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .navbar li {
    padding: 0px 20px; }
    .navbar li a {
      text-decoration: none;
      color: black;
      font-weight: 400; }
